<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Template</title>
    <link rel="stylesheet" href="temp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="main_flex">

        <div class="nav">
            <div div="m">
                <p alpha="m">M</p>
            </div>
            <div id="nav_home">
                <div>Home</div>
                <div>
                    <p data="About">About</p>
                </div>
                <div>Contact</div>
            </div>
            <div><button type="button">Contact</button></div>
        </div>
        <div class="bg-img">
            <div>
                <h1>ABOUT US</h1>
                <p>From technology integration to team training, every aspect was handled seamlessly.
                    Our efficiency and morale have never been higher.</p>
            </div>
        </div>
        <div class="center_container">
            <div id="box1"> <br><br>
                <h5>how we work</h5>
                <h1>Your Path To <br>Business <br> Excellence</h1>
            </div>
            <div id="box2">
                <div> <br><br>
                    <p>Our expert team provides training and tools to foster a culture of transparency and efficiency,
                        helping your business achieve its goals and enhance employer.</p>
                    <br> <button type="button">CONTACT US</button>
                </div>
            </div>
        </div>
        <div class="container2">
            <div id="text">
                <h3>Solution to 56,000+ happy companies</h3>
            </div>
            <div>
                <div><i class="fa-regular fa-file-word"></i></div>
            </div>
            <div>
                <div><i class="fa-solid fa-compact-disc"></i></div>
            </div>
            <div>
                <div><i class="fa-solid fa-ring"></i></div>
            </div>
            <div>
                <div><i class="fa-solid fa-door-open"></i></div>
            </div>
        </div>
        <div class="h1_text">
            <div id="h1">Unlock Your <br>Business Potential</div>
        </div>
        <div class="container3">
            <div id="box_1"></div>
            <div id="box_2">
                <p>Your Path to Business Excellence
                    Sample text. Click to select the Text Element.</p> <br>
                <p>Empowering Business Growth
                    Sample text. Click to select the Text Element.</p> <br>
                <p>Solutions for a Brighter Future
                    Sample text. Click to select the Text Element.</p>
            </div>
        </div>
        <div class="h1_text2">
            <h1>Our Team</h1>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <div class="photos">
            <div><img src="boypss.webp" alt="ImageNotFound">
                <h4>Bob Brown</h4>
                <h6>Creative Leader</h6>
                <p>Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam
                    lorem bibendum</p>
                <div id="icons">
                    <p><i class="fa-brands fa-facebook"></i></p>
                    <p><i class="fa-brands fa-twitter"></i></p>
                    <p><i class="fa-brands fa-instagram"></i></p>
                </div>
            </div>
            <div><img src="girlpss.avif" alt="ImageNotFound">
                <h4>Mary Smith</h4>
                <h6>Chief accountant</h6>
                <p>Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam
                    lorem bibendum</p>
                <div id="icons">
                    <p><i class="fa-brands fa-facebook"></i></p>
                    <p><i class="fa-brands fa-twitter"></i></p>
                    <p><i class="fa-brands fa-instagram"></i></p>
                </div>
            </div>
            <div><img src="yongboypass.jpg" alt="ImageNotFound">
                <h4>Nick Dark</h4>
                <h6>Sales Manager</h6>
                <p>Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam
                    lorem bibendum</p>
                <div id="icons">
                    <p><i class="fa-brands fa-facebook"></i></p>
                    <p><i class="fa-brands fa-twitter"></i></p>
                    <p><i class="fa-brands fa-instagram"></i></p>
                </div>
            </div>
        </div>
        <div id="h1_text3">
            <div class="h1_text3">LEADING WITH INNOVATION</div>
        </div>
        <div class="table">
            <h5>
                <span>Features</span>
                <span>NestFund</span>
                <span>Company-Cards</span>
                <span>Report software</span>
            </h5>
            <p class="p_block">
                <span>Fractional Shares</span>
                <span><i class="fa-solid fa-plus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
            </p>
            <p class="p_block">
                <span>Personalized Insights</span>
                <span><i class="fa-solid fa-plus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
            </p>
            <p class="p_block">
                <span>Fee Transparency</span>
                <span><i class="fa-solid fa-plus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
            </p>
            <p class="p_block">
                <span>Effortless Automation</span>
                <span><i class="fa-solid fa-plus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
            </p>
            <p class="p_block">
                <span>Award-Winning</span>
                <span><i class="fa-solid fa-plus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
                <span><i class="fa-solid fa-minus"></i></span>
            </p>
        </div>
        <div class="AboveFooter">
            <div>
                <h1>UNLOCK YOUR BUSINESS POTENTIAL</h1>
                <p>We saw a significant improvement in our bottom line within months. Highly recommend their services!
                </p><br>
                <button type="button">CONTACT</button>
            </div>
        </div>
        <div class="footer">
            <div alpha="m" id="foot_M">M</div>
            <div class="FooterFlex">
                <div>
                    <h3>ADDRESS</h3>
                    <p>123 Business Street, Suite 456, City, State, ZIP Code</p>
                </div>
                <div>
                    <h3>CONTACT US</h3>
                    <p>Phone: (123) 456-7890
                        Email: contact@yourcompany.com</p>
                </div>
                <div>
                    <h3>Financial Wellness Center, resources for Support and Guidance</h3>
                    <p>Image from <span>Freepik</span></p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>